<%#
LuCI - Lua Configuration Interface
Copyright 2008-2009 Steven Barth <steven@midlink.org>
Copyright 2008-2009 Jo-Philipp Wich <xm@subsignal.org>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

$Id$

-%>

<%-
	require "bit"
	require "luci.sys"
	require "luci.tools.webadmin"
	require "nixio.fs"

	local style = true
-%>

<meta http-equiv="refresh" content="10" />
<%+header%>



<div class="cbi-map" id="cbi-network">
	<h2><a id="content" name="content"><%:Connected Info%></a></h2>
	<div class="cbi-map-descr"><%:Here you can get the connected information of MoCA device.%></div>

	<fieldset class="cbi-section" id="cbi-table-table">
		<legend></legend>
		<div class="cbi-section-node">
			<table class="cbi-section-table">
				<tr class="cbi-section-table-titles">
					<th class="cbi-section-table-cell"><%:Node%></th>					
					<th class="cbi-section-table-cell"><%_<abbr title="Media Access Control">MAC</abbr>-Address%></th>					
					<th class="cbi-section-table-cell"><%:MoCA Version%></th>
					<th class="cbi-section-table-cell"><%:Tx Rate(Mbps)%></th>
					<th class="cbi-section-table-cell"><%:Rx Rate(Mbps)%></th>
					<th class="cbi-section-table-cell"><%:RX Power(dBm)%></th>
					<th class="cbi-section-table-cell"><%:PER(%)%></th>
				</tr>				

				<% local png = io.popen("getmocaphyrate")
					luci.http.write(png:read("*a"))
					png:close()
				%>
				
			</table>
			
		</div>
	</fieldset>
	<br />
</div>

<%+footer%>
